{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "useBuiltIns": "entry"
      }
    ]
  ],
  "env": {
    "es": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true,
            "useBuiltIns": "entry",
            "modules": false
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": true,
            "useBuiltIns": "entry",
            "targets": {"node": "current"}
          }
        ]
      ],
      "plugins": [
        ["@babel/plugin-proposal-pipeline-operator", {"proposal": "minimal"}]
      ]
    }
  }
}
